* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: auto;
}

/* Main content */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    margin-top: 100px;
    margin-bottom: 5px;
}

.coffee-image {
    margin-bottom: 20px;
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.error-detail {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 600px;
    text-align: center;
    color: rgb(108, 107, 107);
}

/* Function buttons */

.function-buttons {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 150px 120px 130px;
    gap: 15px;
    margin-bottom: 10px;
}

/* Back to home button */

.back-to-home-button {
    background-color: #7a4322;
    border-radius: 10px;
    border-color: none;
    border-width: 0px;
    color: white;
    text-align: center;
    height: 37px;
    font-size: 14px;
    font-weight: 600;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 17px 1fr;
    padding-left: 17px;
}

.back-to-home-button:hover {
    opacity: 0.92;
    cursor: pointer;
}

.home-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

/* Go back button */

.back-button {
    background-color: #fafafa;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(230, 196, 169);
    font-size: 13px;
    font-weight: 600;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 15px 1fr;
    padding-left: 17px;
}

.back-button:hover {
    background-color: rgb(230, 205, 181);
    cursor: pointer;
}

.go-back-icon {
    width: 15px;
    height: 13px;
}

/* Search button */

.search-button {
    background-color: #fafafa;
    border-radius: 10px;
    border: 1px solid rgb(230, 196, 169);
    text-align: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 15px 1fr;
    padding-left: 17px;
}

.search-button:hover {
    background-color: rgb(230, 205, 181);
    cursor: pointer;
}

.search-icon {
    width: 13px;
    height: 13px;
}

/* Navigation section */

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #ffffff;
    border: 1px solid rgb(230, 205, 181);
    border-radius: 5px;
    padding-top: 20px;
    width: 700px;
}